In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path='/Users/zacharygreen/Desktop/instacart analysis/data'

In [3]:
df_merge=pd.read_pickle(os.path.join(path, 'prepared data', 'ords_prods_merge_ready.pkl'))

In [4]:
df_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,Busiest_Least_Busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,3.0,5,0,both,Mid-range product,Regularly busy,NaN,Most orders,32,Regular customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,20.0,1,1,both,Mid-range product,Regularly busy,NaN,Average orders,32,Regular customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,NaN,10,0,both,Mid-range product,Regularly busy,Least busiest days,Most orders,3,New customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,9.0,11,1,both,Mid-range product,Least busy,Least busiest days,Average orders,3,New customer

In [5]:
df_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

The mean orders for each department are different. I'm not sure what is specifically different, some averages are higher than others and some are lower.

In [6]:
df_merge.groupby('loyalty_flag').agg({'prices':['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

I could check the min and max but they wouldnt have any relevance on the data, it would just be one variable and they would probably all be the same. Anyways, according to my analysis, loyal customers actually spend the least vs new customers who spend the most on average per item. Regular customers are right in between. If I was at instacart, it would be hard to determine the best method of approach here.

In [8]:
df_merge['average_price'] = df_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [9]:
df_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,Busiest_Least_Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,5,0,both,Mid-range product,Regularly busy,NaN,Most orders,32,Regular customer,6.935811
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,1,1,both,Mid-range product,Regularly busy,NaN,Average orders,32,Regular customer,6.935811
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,10,0,both,Mid-range product,Regularly busy,Least busiest days,Most orders,3,New customer,4.972414
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,11,1,both,Mid-range product,Least busy,Least busiest days,Average orders,3,New customer,4.972414

In [10]:
df_merge.loc[df_merge['average_price'] < 10, 'spender_flag'] = 'Low Spender'
df_merge.loc[df_merge['average_price'] >=10, 'spender_flag'] = 'High Spender'

In [11]:
df_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,reordered,_merge,price_range_loc,busiest_day,Busiest_Least_Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spender_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,0,both,Mid-range product,Regularly busy,NaN,Most orders,32,Regular customer,6.935811,Low Spender
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,1,both,Mid-range product,Regularly busy,NaN,Average orders,32,Regular customer,6.935811,Low Spender
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low Spender
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,0,both,Mid-range product,Regularly busy,Least busiest days,Most orders,3,New customer,4.972414,Low Spender
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,1,both,Mid-range product,Least busy,Least busiest days,Average orders,3,New customer,4.972414,Low Spender

In [13]:
df_merge['spender_flag'].value_counts(dropna=False)

Low Spender     31770614
High Spender      634245
Name: spender_flag, dtype: int64

In [14]:
df_merge['order_frequency'] = df_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.mean)

In [15]:
df_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,_merge,price_range_loc,busiest_day,Busiest_Least_Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spender_flag,order_frequency
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,both,Mid-range product,Regularly busy,NaN,Most orders,32,Regular customer,6.935811,Low Spender,10.400000
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,both,Mid-range product,Regularly busy,NaN,Average orders,32,Regular customer,6.935811,Low Spender,10.400000
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low Spender,7.070968
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,both,Mid-range product,Regularly busy,Least busiest days,Most orders,3,New customer,4.972414,Low Spender,10.948718
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,both,Mid-range product,Least busy,Least busiest days,Average orders,3,New customer,4.972414,Low Spender,10.948718

In [18]:

df_merge.loc[(df_merge['order_frequency'] > 10) | (df_merge['order_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'

df_merge.loc[df_merge['order_frequency'] <=10, 'frequency_flag'] = 'Frequent customer'

In [19]:
df_merge['frequency_flag'].value_counts(dropna=False)

Frequent customer    16468582
Regular customer     15936272
NaN                         5
Name: frequency_flag, dtype: int64

In [20]:
df_merge.loc[df_merge['order_frequency'] > 20, 'frequency_flag'] = 'Non frequent'

In [21]:
df_merge['frequency_flag'].value_counts(dropna=False)

Frequent customer    16468582
Regular customer     12521159
Non frequent          3415113
NaN                         5
Name: frequency_flag, dtype: int64